@model MyEmployee.Models.Employee

<div>
    <h1>新增員工頁</h1>
</div>
<hr>
<form asp-action="Create" method="post" enctype="multipart/form-data">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>

  <div class="mb-3">
    <label asp-for="Name" class="form-label">姓名</label>
    <input asp-for="Name" type="text" class="form-control"  >
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Phone" class="form-label">電話</label>
    <input asp-for="Phone" type="text" class="form-control"  >
    <span asp-validation-for="Phone" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Position" class="form-label">職位</label>
    <Select asp-for="Position" class="form-control">
      <option value="">-- 請選擇 --</option>
      <option value="系統工程師">系統工程師</option>
      <option value="網頁工程師">網頁工程師</option>
      <option value="切版工程師">切版工程師</option>
      <option value="實習生">實習生</option>
    </Select>
    <span asp-validation-for="Position" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Salary" class="form-label">薪水</label>
    <input asp-for="Salary" type="number" class="form-control"  >
    <span asp-validation-for="Salary" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="HireDate" class="form-label">入職日期</label>
    <input asp-for="HireDate" type="date" class="form-control"  >
    <span asp-validation-for="HireDate" class="text-danger"></span>
  </div>

  <div class="mb-3">
    <label class="form-label">頭貼上傳</label>
    <input type="file" name="Photo" class="form-control" accept="image/*">
  </div>

  
  <button type="submit" class="btn btn-primary">新增</button>
</form>
